---
layout: section
title: Sobre nós
---

<!-- ==== About Fablab ==== -->

<section id="fablab-bcn">

<div class="container" id="separator-blog"></div>

<div class="container">
  <br>
  <h3> Fab Lab da Firjan SENAI Caxias </h3>
  <br><br>
  <div class="row">

    <div class="col-md-4 col-sm-4">
      <p>Texto sobre o fablab<a target="_blank" href="http://google.com/"><strong>negrito</strong></a></p><br>
    </div> <!-- col -->
    <div class="col-md-4 col-sm-4">
      <p>Texto sobre o fablab<a target="_blank" href="http://google.com/"><strong>negrito</strong></a></p><br>
    </div> <!-- col -->
    <div class="col-md-4 col-sm-4">
      <img class="img-responsive" src="{{site.baseurl}}/img/about_us/fablabcaxias.jpg" height="330px">
    </div> <!-- col -->
  </div> <!-- row -->
</div> <!-- container -->
</section> <!-- section -->

<div class="container" id="separator"></div>

{% include about_us_menu.html %}

<div class="container" id="separator"></div>

<section id="what-is-a-fablab">
  <div class="container">
    <h3>O que é um FabLab?</h3><br>
    <br>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <p>Um Fab Lab é uma oficina em pequena escala para fabricação digital, equipada com uma variedade de ferramentas flexíveis controladas por computador e vários materiais, com o objetivo de fazer “quase tudo”.</p>
        <br>
        <img class="img-responsive" src="{{site.baseurl}}/img/about_us/fablab-services.jpg"/> <br><br>
      </div> <!-- col -->

      <div class="col-md-4 col-sm-4">
        <p>Um Fab Lab é uma plataforma de prototipagem técnica para educação, inovação e invenção. Ser um Fab Lab significa conectar-se a uma comunidade global de alunos, educadores, tecnólogos, pesquisadores, fabricantes e inovadores - uma rede de compartilhamento de conhecimento que abrange 50 países e 24 fusos horários. Como todos os Fab Labs compartilham ferramentas e processos comuns, o programa está construindo uma rede global, um laboratório distribuído para pesquisa e invenção.</p><br>
        <p>As atividades nos fab labs variam de capacitação tecnológica a treinamento técnico baseado em projetos peer-to-peer, resolução de problemas locais, incubação de empresas de alta tecnologia em pequena escala e pesquisa de base. Os projetos desenvolvidos e produzidos em fab labs incluem turbinas solares e eólicas, computadores thin client e redes de dados sem fio, instrumentação analítica para agricultura e saúde, habitação personalizada e prototipagem rápida de máquinas de prototipagem rápida.
</p><br>
        <p>Os Fab Labs incluem as seguintes máquinas: uma cortadora a laser que faz estruturas 2D e 3D, uma plotter de recorte de adesivos e circuitos eletrônicos flexíveis, uma fresadora CNC de alta resolução que faz placas de circuito e peças de precisão, uma grande freasadora de madeira para a construção de móveis, e um conjunto de componentes eletrônicos e ferramentas de programação para microcontroladores de baixo custo e alta velocidade para prototipagem de circuitos rápidos no local.
</p><br>
      </div> <!-- col -->

      <div class="col-md-4 col-sm-4">
        <p>Originalmente projetados para comunidades como plataformas de prototipagem para empreendedorismo local, os Fab Labs estão sendo cada vez mais adotados pelas escolas como plataformas para educação STEM prática e baseada em projetos. Os usuários aprendem projetando e criando objetos de interesse pessoal ou de importação. Fortalecidos pela experiência de fazer algo eles mesmos, eles aprendem e orientam uns aos outros, adquirindo profundo conhecimento sobre as máquinas, os materiais, o processo de design e a engenharia que envolve invenção e inovação. Em ambientes educacionais, em vez de depender de um currículo fixo, a aprendizagem acontece em um contexto pessoal autêntico, envolvente, no qual os alunos passam por um ciclo de imaginação, design, prototipagem, reflexão e iteração à medida que encontram soluções para desafios ou trazem suas ideias para a vida.
</p><br>
      </div> <!-- col -->
    </div> <!-- row -->

  </div> <!-- container-->
</section> <!-- section-->

<div class="container" id="separator"></div>

<section id="team">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <h3>Equipe do Fab Lab Caxias</h3>
      </div>
      <!-- If you need to add or remove an employee, it is done in this repos _data/employees.yml file! -->
      {% include employees.html %}

    </div> <!-- row -->
  </div> <!-- container -->
</section> <!-- team -->

<div class="container" id="separator"></div>


