---
layout: default
meta: Um lugar para fabricar (quase) tudo!
---
<style>
            #carrossel {
                background-color: black;
            }
        </style>
{% include nav.html %}
<div class="container">

  <section id="carrossel">
    <div id="carousel-container">
      <div id="carousel-fade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-caption" style="top: 15%;">
          <div class="img-fluid mt-4" ><img id="main-logo" src="{{site.baseurl}}/img/logos/logo_fablab_global.png" /></div>
          <div class="d-none d-lg-block text-white mt-4"><h4>Fab Lab Caxias<br>Um lugar para fabricar (quase) tudo!</h4></div>
          <div class="d-none d-lg-block mt-4">
            {% include social.html %}
          </div>
        </div> <!-- carousel-caption -->

        <div class="carousel-inner bg-black mt-4">
          {% include carousel-slider.html %}
        </div> <!-- carousel-inner -->
      </div> <!-- carousel-fade -->
    </div> <!-- carousel-container -->
  </section> <!-- hero -->

  {% include latest_blog.html %}

  <!--section>

    <div class="my-4">
      <a href="{{site.baseurl}}/fabricademy">
        <img src="{{site.baseurl}}/img/fabricademy/fabricademy2020.png" class="img-fluid"/>
      </a>
    </div>

    <div class="my-4">
      <a target="_blank" href="https://iaac.net/mdef-becas-espana">
        <img src="{{site.baseurl}}/img/random/Banner-MDEF.jpg" class="img-fluid"/>
      </a>
    </div>

    <div class="my-4">
      <a href="{{site.baseurl}}/fab_academy">
        <img src="{{site.baseurl}}/img/fab_academy/Fab-Academy-Barcelona-2020.jpg" class="img-fluid"/>
      </a>
    </div>

    <div class="my-4">
      <a target="_blank" href="http://fab.city/">
        <img src="{{site.baseurl}}/img/news_banner/banner_fab_city_m.jpg" class="img-fluid"/>
      </a>
    </div>
  </section-->

 <!-- {% include eu_projects.html %}

  <!--section>
    <div class="my-4">
      <a target="_blank" href="https://drive.google.com/file/d/0B1vdN85eXUFEbzQzejhLRXlJZGc/view">
        <img src="{{site.baseurl}}/img/news_banner/internshipbanner.png" class="img-fluid"/>
      </a>
    </div>
  </section-->

  <h2> Links úteis para prototipagem </h2>
  {% include content_blocks.html %}

  <!--{% include collaborators.html %}

</div>

{% include footer.html %}
