<!-- ==== FOOTER ==== -->

<div class="bg-black pt-4">
  
  <section class="container">
    <hr>
    <div class="row pt-3">

      <div class="col-sm-4">
        <h5>Aviso legal</h5><br>
        <p>Este site é administrado por alunos voluntários e não é um canal oficial da Firjan SENAI. As informações contidas nesta página não foram revisadas pela Firjan e são de inteira responsabilidade apenas de quem as publicou.</p>
        <!--a class="partners-content-logos" target="_blank" href="http://iaac.net">
          <img src="{{site.baseurl}}/img/logos/logo_partners_iaac.png" height="50"></a-->
        <!--a class="partners-content-logos" target="_blank" href="http://cba.mit.edu/">
          <img src="{{site.baseurl}}/img/logos/logo_partners_cba.png" height="70"></a-->
      </div> <!-- col -->

      <div class="col-md-4 col-sm-4">
        
        <div class="row">
          <div class="col-md-4">
            <!-- a class="partners-content-logos" target="_blank" href="http://www.dissenyhubbarcelona.cat/">
              <img src="{{site.baseurl}}/img/logos/logo_partners_dhub.png" class="img-responsive" width="70"></a--></div> <!-- col -->
          <div class="col-md-4">
            <!-- a class="partners-content-logos" target="_blank" href="http://www.dissenyhubbarcelona.cat/">
              <img src="{{site.baseurl}}/img/logos/logo_partners_dhub.png" class="img-responsive" width="70"></a-->
          </div> <!-- col -->
        </div>

        <div class="row">
          <div class="col-md-7">
            <!-- a class="partners-content-logos" target="_blank" href="http://www.smartcityexpo.com/">
              <img src="{{site.baseurl}}/img/logos/logo_partners_smartcity.png" class="img-responsive" width="130"></a--><br><br><br>
          </div> <!-- col -->

          <div class="col-md-7 col-sm-10">
            <!-- a class="partners-content-logos" target="_blank" href="http://www.smartcityexpo.com/">
              <img src="{{site.baseurl}}/img/logos/logo_partners_smartcity.png" class="img-responsive" width="130"></a--><br><br><br>
          </div> <!-- col -->
        </div>

        <div class="row">
          <div class="col-md-7 col-sm-10">
            <!-- a class="partners-content-logos" target="_blank" href="http://www.smartcityexpo.com/">
              <img src="{{site.baseurl}}/img/logos/logo_partners_smartcity.png" class="img-responsive" width="130"></a--><br><br><br>
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- col -->

      <div class="col-md-4 col-sm-4" id="partners-visit-us">
        <h5>Visite o Fab Lab</h5>
        <p>
        Serviço Nacional de Aprendizagem Industrial<br>
        Travessa Artur Goulart, 124<br>
        Circular<br>
        Duque de Caxias<br>
        </p>

        <a href="https://www.google.com/maps?f=q&hl=en&geocode&time&date&ttype&q=Carrer+de+Pujades+102,+08005+Barcelona,+Spain+%28Institute+for+Advanced+Architecture+of+Catalonia%29&sll=41.398558,2.1907&sspn=0.012973,0.028839&ie=UTF8&om=1&t=h&source=embed&hq&hnear=Carrer+de+Pujades,+102,+08005+Barcelona,+Catalunya,+Spain&z=14&ll=41.404561,2.198381" target="_blank"> 
          Map
        </a>
        <p>
        Sobre o Fab Lab Caxias:<br>
        <a href="mailto:eleme@firjan.com.br">eleme@firjan.com.br</a>
        <br>
        Sobre projetos integradores:<br>
        <a href="mailto:dabrito@firjan.com.br">dabrito@firjan.com.br</a>
        </p>

        <a href="">Aviso Legal</a><br />
        <a href="">Política de privacidade</a><br />
        <a href="">Política de Cookies</a><br />

        <div class="my-3">
          <a id="fablab-global" target="_blank" href="https://www.fablabs.io/"><img src="{{site.baseurl}}/img/logos/logo_fablab_global.png" height="30" alt="Fab Lab"></a>
        </div>
      </div> <!-- col -->
      
    </div> <!-- row -->
    
    <!--div style="font-size: 1.0em; text-align: center!important; margin-right: 0!important;" class="text-right mr-3 pb-3">
      <p style="text-align: center!important;" id="copy">&copy; 2019 IAAC | Fab Lab Barcelona</p>
      <a href="https://github.com/fablabbcn/fablabbcn-web/blob/master/{{page.path}}">Found errors? - Help us fix this page</a>
    </div-->
  </section>
</div>
